a {
  color: #1E90B3;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #1E90B3;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.navbar {
min-height: 40px;
}

img {
	display: block;
    height: auto;
    max-width: 100%;
    float: middle;
   }