---
title: QuTiP Contributors
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1>QuTiP Contributors</h1><br>
</div>
</div>

<div class="col-md-12">
<p>
The development of QuTiP is a community based effort, with several developers contributing many new features to the growing list of QuTiP functions:  
</p>
</div>

<div class="col-md-12">
<h4>Core Libraries</h4>
    <div class="col-md-4">
        Robert J. Johansson (RIKEN)
    </div>
    <div class="col-md-4">
        Paul D. Nation (Korea U.)
    </div>
</div>


<div class="row">
<div class="col-md-12">
<p>

</p>
</div>
</div>

{% include footer.html %}
