---
title: QuTiP Contributors
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1>QuTiP Contributors</h1><br>
</div>
</div>

<div class="col-md-10">
<p>
The development of QuTiP is a community based effort, with several developers contributing many new features to the growing list of QuTiP functions:  
</p>
</div>

<div class="row">
<h4><b>Core Libraries</b></h4>
    <div class="col-md-4">
        Robert J. Johansson (RIKEN)
    </div>
    <div class="col-md-4">
        Paul D. Nation (Korea University)
    </div>
</div>

<div class="row">
<h4><b>Fortran Monte Carlo Solver</b></h4>
    <div class="col-md-4">
        Arne Grimsmo (Universite de Sherbrooke)
    </div>
</div>

<div class="row">
<h4><b>Quantum Control Module</b></h4>
    <div class="col-md-4">
        Alexander Pitchford (Aberystwyth University)
    </div>
    <div class="col-md-4">
        Jonathan Zoller (Ulm University)
    </div>
</div>


{% include footer.html %}
