---
title: QuTiP Contributors
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1>QuTiP Contributors</h1><br>
</div>
</div>

<div class="row">
<div class="col-md-10">
<p>
The development of QuTiP is a community based effort with several developers contributing, or helping to add, many new features to the growing list of QuTiP functions:  
</p>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<h3>Lead Developers</h3>
    <div class="col-sm-3">
        <img src="images/alex.jpg" class="img-polaroid">
        <h4>Alex Pitchford</h4>
        <h5>Aberystwyth University</h5>
    </div>
    <div class="col-sm-3">
        <img src="images/paul.jpg" class="img-polaroid">
        <h4>Paul Nation</h4>
        <h5>QuSTaR, Denver USA</h5>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
    <div class="col-sm-3">
        <img src="images/rob.jpg" class="img-polaroid">
        <h4>Robert Johansson</h4>
        <h5>Tokyo, Japan</h5>
    </div>
    <div class="col-sm-3">
        <img src="images/arne.jpg" class="img-polaroid">
        <h4>Arne Grimsmo</h4>
        <h5>Universite de Sherbrooke</h5>
    </div>
    <div class="col-sm-3">
        <img src="images/chris.jpg" class="img-polaroid">
        <h4>Chris Grenade</h4>
        <h5>University of Sydney</h5>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<h3>Additional Developers</h3>
    <div class="col-sm-4">
        <ul>
        <li>Neill Lambert (RIKEN)</li>
        <li>Denis Vasilyev (Leibniz)</li>
        <li>Kevin Fischer (Stanford)</li>
        </ul>
    </div>
    <div class="col-sm-4">
         <ul>
         <li>Jonathan Zoller (Ulm University)</li>
         <li>Ben Criger (RWTH Aachen)</li>
         </ul>
    </div>
</div>
</div>


{% include footer.html %}
