---
title: QuTiP Contributors
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1>QuTiP Contributors</h1><br>
</div>
</div>

<div class="row">
<div class="col-md-10">
<p>
The development of QuTiP is a community based effort with several developers contributing, or helping to add, many new features to the growing list of QuTiP functions:  
</p>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<h3>Lead Developers</h3>
    <div class="col-sm-3">
        <img src="images/alex.jpg" class="img-polaroid">
        <h4>Alex Pitchford</h4>
        <h5>Aberystwyth University</h5>
        <h6>Expertise: Quantum optimal control, solvers</h6>
    </div>
    <div class="col-sm-3">
        <img src="images/eric.jpg" class="img-polaroid">
        <h4>Éric Giguère</h4>
        <h5>Calcul Québec</h5>
        <h6>Expertise: Stochastic solvers</h6>
    </div>
    <div class="col-sm-3">
        <img src="images/nathan.jpg" class="img-polaroid">
        <h4>Nathan Shammah</h4>
        <h5>RIKEN</h5>
        <h6>Expertise: Open quantum systems, notebooks</h6>
    </div>
    <div class="col-sm-3">
        <img src="images/shahnawaz.jpg" class="img-polaroid">
        <h4>Shahnawaz Ahmed</h4>
        <h5>Chalmers</h5>
        <h6>Expertise: Quantum machine learning, Non-Markovian dynamics</h6>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
    <div class="col-sm-3">
        <img src="images/paul.jpg" class="img-polaroid">
        <h4>Paul Nation</h4>
        <h5>IBM Q</h5>
    </div>
    <div class="col-sm-3">
        <img src="images/rob.jpg" class="img-polaroid">
        <h4>Robert Johansson</h4>
        <h5>Tokyo, Japan</h5>
    </div>
    <div class="col-sm-3">
        <img src="images/arne.jpg" class="img-polaroid">
        <h4>Arne Grimsmo</h4>
        <h5>Universite de Sherbrooke</h5>
    </div>
    <div class="col-sm-3">
        <img src="images/chris.jpg" class="img-polaroid">
        <h4>Chris Grenade</h4>
        <h5>University of Sydney</h5>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<h3>Additional Developers</h3>
    <div class="col-sm-4">
        <ul>
        <li>Neill Lambert (RIKEN)</li>
        <li>Denis Vasilyev (Leibniz)</li>
        <li>Kevin Fischer (Stanford)</li>
        <li>Anubhav Vardhan (New Dehli, India)</li>
        </ul>
    </div>
    <div class="col-sm-4">
         <ul>
         <li>Jonathan Zoller (Ulm University)</li>
         <li>Ben Criger (RWTH Aachen)</li>
         <li>Ben Bartlett (Stanford)</li>
         <li>Piotr Migdał (Warsaw, Poland)</li>
         <li>Markus Baden (Zurich, Switzerland)</li>
         </ul>
    </div>
</div>
</div>


{% include footer.html %}
