---
title: QuTiP Contributors
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1>QuTiP Contributors</h1><br>
</div>
</div>

<div class="row">
<div class="col-md-10">
<p>
The development of QuTiP is a community based effort with several developers contributing, or helping to add, many new features to the growing list of QuTiP functions:  
</p>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<h3>Current Lead Developers</h3>
    <div class="col-sm-3">
        <img src="images/alex.jpg" class="img-polaroid">
        <h4>Alex Pitchford</h4>
        <h5>Aberystwyth University</h5>
        <h6>Main focus: Quantum optimal control, solvers.</h6>
    </div>
    <div class="col-sm-3">
        <img src="images/eric.jpg" class="img-polaroid">
        <h4>Éric Giguère</h4>
        <h5>Calcul Québec</h5>
        <h6>Main focus: Stochastic solvers, code optimization.</h6>
    </div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
    <div class="col-sm-3">
        <img src="images/nathan.jpg" class="img-polaroid">
        <h4>Nathan Shammah</h4>
        <h5>RIKEN</h5>
        <h6>Main focus: Symmetrical models, education and outreach.</h6>
    </div>
    <div class="col-sm-3">
        <img src="images/shahnawaz.jpg" class="img-polaroid">
        <h4>Shahnawaz Ahmed</h4>
        <h5>Chalmers</h5>
        <h6>Main focus: Machine learning, Non-Markovian dynamics.</h6>
    </div>
</div>
</div>
<div class="row">
<div class="col-sm-12">    
    <div class="col-sm-3">
        <img src="images/neill.jpg" class="img-polaroid">
        <h4>Neill Lambert</h4>
        <h5>RIKEN</h5>
        <h6>Main focus: Non-Markovian dynamics, counting statistics.</h6>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<h3>Core Contributors</h3>
    <div class="col-sm-3">
        <img src="images/arne.jpg" class="img-polaroid">
        <h4>Arne Grimsmo</h4>
        <h5>Universite de Sherbrooke</h5>
    </div>
    <div class="col-sm-3">
        <img src="images/chris.jpg" class="img-polaroid">
        <h4>Chris Grenade</h4>
        <h5>University of Sydney</h5>
    </div>
</div>
</div>


<div class="row">
<div class="col-sm-12">
<h3>Original Developers</h3>
    <div class="col-sm-3">
        <img src="images/paul.jpg" class="img-polaroid">
        <h4>Paul Nation</h4>
        <h5>IBM Q</h5>
        <h6>Library designer and main contributor</h6>
    </div>
    <div class="col-sm-3">
        <img src="images/rob.jpg" class="img-polaroid">
        <h4>Robert Johansson</h4>
        <h5>Tokyo, Japan</h5>
        <h6>Library designer and main contributor</h6>
    </div>

</div>
</div>

<div class="row">
<div class="col-sm-12">
<h3>Project Supervisor</h3>
    <div class="col-sm-3">
        <img src="images/franco.jpg" class="img-polaroid">
        <h4>Franco Nori</h4>
        <h5>RIKEN / University of Michigan</h5>
    </div>
</div>
</div>



<div class="row">
<div class="col-sm-12">
<h3>Additional Developers</h3>
    <div class="col-sm-4">
        <ul>
        <li>Denis Vasilyev (Leibniz)</li>
        <li>Kevin Fischer (Stanford)</li>
        <li>Anubhav Vardhan (New Dehli, India)</li>
         <li>Markus Baden (Zurich, Switzerland)</li>
        </ul>
    </div>
    <div class="col-sm-4">
         <ul>
         <li>Jonathan Zoller (Ulm University)</li>
         <li>Ben Criger (RWTH Aachen)</li>
         <li>Ben Bartlett (Stanford)</li>
         <li>Piotr Migdał (Warsaw, Poland)</li>

         </ul>
    </div>
</div>
</div>

For a complete and up-to-date list of contributors, check out the Github pages (<a href="https://github.com/qutip/qutip/graphs/contributors"><p>code</p></a>, <a href="https://github.com/qutip/qutip-notebooks/graphs/contributors"><p>notebooks</p></a>). 

{% include footer.html %}
