---
title: QuTiP Documentation
---
{% include header.html %}
{% include navbar.html %}


<div class="row">
<div class="col-md-12">
<h1>Users guide</h1>
</div>
</div>

<div class="row">
<div class="col-md-12">
<h2>Latest release</h2>
</div>
</div>

<div class="row">
<div class="col-md-12 col-md-offset-1">
<h3>Version 3.1.0</h3>
</div>
</div>

<div class="row">
<div class="col-md-3 col-md-offset-1">
<img src="images/online.png" />
<a href="docs/3.1.0/index.html">Online HTML documentation</a>
</div>
<div class="col-md-3 col-md-offset-1">
<img src="images/pdf.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip-doc','qutip-doc-3.1.0.pdf']); void(0);" href="downloads/3.1.0/qutip-doc-3.1.0.pdf">PDF documentation</a>
</div>
</div>


<div class="row">
<div class="col-md-12">
<h2>Previous releases</h2>
</div>
</div>


<div class="row">
<div class="col-md-12 col-md-offset-1">
<h3>Version 3.0.1</h3>
</div>
</div>

<div class="row">
<div class="col-md-3 col-md-offset-1">
<img src="images/online.png" />
<a href="docs/3.0.1/index.html">Online HTML documentation</a>
</div>
<div class="col-md-3 col-md-offset-1">
<img src="images/pdf.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip-doc','qutip-doc-3.0.1.pdf']); void(0);" href="downloads/3.0.1/qutip-doc-3.0.1.pdf">PDF documentation</a>
</div>
</div>


<div class="row">
<div class="col-md-12 col-md-offset-1">
<h3>Version 3.0.0</h3>
</div>
</div>

<div class="row">
<div class="col-md-3 col-md-offset-1">
<img src="images/online.png" />
<a href="docs/3.0.0/index.html">Online HTML documentation</a>
</div>
<div class="col-md-3 col-md-offset-1">
<img src="images/pdf.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip-doc','qutip-doc-3.0.0.pdf']); void(0);" href="downloads/3.0.0/qutip-doc-3.0.0.pdf">PDF documentation</a>
</div>
</div>


<div class="row">
<div class="col-md-12 col-md-offset-1">
<h3>Version 2.2.0</h3>
</div>
</div>

<div class="row">
<div class="col-md-3 col-md-offset-1">
<img src="images/online.png" />
<a href="docs/2.2.0/index.html">Online HTML documentation</a>
</div>
<div class="col-md-3 col-md-offset-1">
<img src="images/pdf.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip-doc','qutip-2.2.0-DOC.pdf']); void(0);" href="downloads/2.2.0/QuTiP-2.2.0-DOC.pdf">PDF documentation</a>
</div>
</div>


<div class="row">
<div class="col-md-12 col-md-offset-1">
<h3>Version 2.1.0</h3>
</div>
</div>

<div class="row">
<div class="col-md-3 col-md-offset-1">
<img src="images/online.png" />
<a href="http://qutip.googlecode.com/svn/doc/2.1.0/html/index.html">Online HTML documentation</a>
</div>
<div class="col-md-3 col-md-offset-1">
<img src="images/pdf.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip-doc','qutip-2.1.0-DOC.pdf']); void(0);" href="http://qutip.googlecode.com/files/QuTiP-2.1.0-DOC.pdf">PDF documentation</a>
</div>
</div>


<div class="row">
<div class="col-md-12">
<h2>Development documentation</h2>
</div>
</div>

<br />
<div class="row">
<div class="col-md-12">
<p>
The documentation for the development version of QuTiP is available at the <a href="https://github.com/qutip/qutip-doc">qutip-doc</a> github repository.
</p>
</div>
</div>

{% include footer.html %}
