---
title: QuTiP Documentation
---
{% include header.html %}
{% include navbar.html %}


<div class="row">
<div class="col-md-12">
<h1>QuTiP Users Guide</h1>
</div>
</div>

<div class="row">
<div class="col-md-12">
<h2>Latest release</h2>
</div>
</div>

<div class="row">
<div class="col-md-12">
<img src="images/online.png" />
<a href="docs/2.2.0/index.html">QuTiP 2.2.0 Online HTML documentation</a>
</div>
</div>

<div class="row">
<div class="col-md-12">
<img src="images/pdf.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip-doc','qutip-2.2.0-DOC.pdf']); void(0);" href="downloads/2.2.0/QuTiP-2.2.0-DOC.pdf">QuTiP 2.2.0 PDF documentation</a>
</div>
</div>


<div class="row">
<div class="col-md-12">
<h2>Previous releases</h2>
</div>
</div>

<div class="row">
<div class="col-md-12">
<img src="images/online.png" />
<a href="http://qutip.googlecode.com/svn/doc/2.1.0/html/index.html">QuTiP 2.1.0 Online HTML documentation</a>
</div>
</div>

<div class="row">
<div class="col-md-12">
<img src="images/pdf.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip-doc','qutip-2.1.0-DOC.pdf']); void(0);" href="http://qutip.googlecode.com/files/QuTiP-2.1.0-DOC.pdf">QuTiP 2.1.0 PDF documentation</a>
</div>
</div>


<div class="row">
<div class="col-md-12">
<h2>Development documentation</h2>
</div>
</div>

<div class="row">
<div class="col-md-12">
<img src="images/developer.png" />
<a href="https://github.com/qutip/qutip-doc">The documentation for the development version of QuTiP is available at our github repository.</a>
</div>
</div>

{% include footer.html %}
