---
title: QuTiP Features
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<div class="alert alert-warning">
If you find QuTiP useful, please consider <a href='citing.html'>citing it</a> in your publications.
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<h1>Download</h1>
</div>
</div>

<div class="row">
<div class="col-md-12">
<h2>Latest release</h2><br>
</div>
</div>

<div class="row">
<div class="col-md-12 col-md-offset-1">
<h3>Version 3.0.0 - July 2014</h3>
</div>
</div>

<div class="row">
<div class="col-md-2 col-md-offset-1">
<img src="images/gz.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip','qutip-3.0.0.tar.gz']); void(0);" href="downloads/3.0.0/qutip-3.0.0.tar.gz">QuTiP 3.0.0 tar.gz</a>
</div>

<div class="col-md-2 col-md-offset-1">
<img src="images/zip.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip','qutip-3.0.0.zip']); void(0);" href="downloads/3.0.0/qutip-3.0.0.zip">QuTiP 3.0.0 zip</a>
</div>
</div>


<div class="row">
<div class="col-md-12">
<h2>Previous releases</h2>
</div>
</div>

<br />
<div class="row">
<div class="col-md-12">
<p>If you are interested in legacy releases of QuTiP, you can download all previous
versions from the old googlecode <a href="http://code.google.com/p/qutip/downloads/list?can=1">downloads page</a>.</p>
</div>
</div>

<div class="row">
<div class="col-md-12 col-md-offset-1">
<h3>Version 2.2.0 - March 2013</h3>
</div>
</div>

<div class="row">
<div class="col-md-2 col-md-offset-1">
<img src="images/gz.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip','qutip-2.2.0.tar.gz']); void(0);" href="downloads/2.2.0/QuTiP-2.2.0.tar.gz">QuTiP 2.2.0 tar.gz</a>
</div>
<div class="col-md-2 col-md-offset-1">
<img src="images/zip.png" />
<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip','qutip-2.2.0.zip']); void(0);" href="downloads/2.2.0/QuTiP-2.2.0.zip">QuTiP 2.2.0 zip</a>
</div>
</div>



<div class="row">
<div class="col-md-12">
<h2>Installation</h2>
</div>
</div>


<div class="row">
<div class="col-md-12">
<p>Instructions for installing QuTiP can be found in the <a href="documentation.html">documentation</a>, or in the INSTALL.txt file included in the QuTiP source folder.</p>
</div>
</div>


<div class="row">
<div class="col-md-12">
<h2>Source Code</h2>
</div>
</div>


<div class="row">
<div class="col-md-12">
<p>If you want to checkout the latest source code and documentation then head on
over to the QuTiP repositories at <a href="https://github.com/qutip">github.com/qutip</a>.</p>
</div>
</div>


{% include footer.html %}
