---
title: Quantum Toolbox in Python
---
{% include header.html %}
{% include navbar.html %}

<div class="row">

<div class="col-md-9">

<div class="row">
<div class="col-md-12">
<div class="alert alert-success">
<p id="cite"></p>
</div>
</div>
</div>

<script>
    var lng = navigator.language;
    var txt;
    if (lng.indexOf("zh") !== -1)
    {
        txt = "感谢您使用QuTiP。如果您在论文中使用了QuTiP，请您记得引用本篇论文。";
    }
    else if (lng.indexOf("ja") !== -1)
    {
        txt = "QuTiPのご利用ありがとうございます。 このソフトウェアを使っている出版物に、QuTiPの論文を引用するのを忘れないでください。";
    }
    else
    {
        txt = "We hope you enjoy using QuTiP.  Please help us make QuTiP better by citing it in your publications.";
    }
    document.getElementById("cite").innerHTML = txt;
</script>

<div class="row">
<div class="col-md-12">
<p>
QuTiP is open-source software for simulating the dynamics of open quantum systems.  The QuTiP library depends on the excellent <a href='http://www.numpy.org'>Numpy</a>, <a href='http://www.scipy.org'>Scipy</a>, and <a href='http://cython.org'>Cython</a> numerical packages. In addition, graphical output is provided by <a href='http://matplotlib.org'>Matplotlib</a>.  QuTiP aims to provide user-friendly and efficient numerical simulations of a wide variety of Hamiltonians, including those with arbitrary time-dependence, commonly found in a wide range of physics applications such as quantum optics, trapped ions, superconducting circuits, and quantum nanomechanical resonators. QuTiP is freely available for use and/or modification on all major platforms such as Linux, Mac OSX, and Windows<sup>*</sup>. Being free of any licensing fees, QuTiP is ideal for exploring quantum mechanics and dynamics in the classroom.
</p>
<p style='font-size:10px'><sup>*</sup>QuTiP is developed on Unix platforms only, and some features may not be available under Windows.</p>
</div>
</div>

<div class="row" style='margin-top:20px'>
<div class="col-md-6">
<img src="images/corp_users.png">
</div>
<div class="col-md-5">
<p>
From the classroom to the corporate office, QuTiP is used around the world to advance research in quantum optics.  QuTiP is in use at nearly every single research university around the globe, government-funded research labs, and is relied upon by every major corporation focused on developing a quantum computer.
</p>
</div>
</div>



<div class="row" style='margin-top:20px'>
<div class="col-md-4">
<p style='margin-top:20px'>
QuTiP is already being used at a variety of institutions around the globe, and has been downloaded hundreds of thousands of times since its initial release (over 50000 times in 2018 only).  Need
help in simulating a tricky problem? Our large community of users are gracious enough to take a moment of their time and help in tackling even the most esoteric of issues.
</p>
</div>
<div class="col-md-6">
<center><h4>Distribution of the 25,473 Unique Visitors in 2016</h2><center>
<div id='container1' style='margin-top:10px; position: relative;height: 250px;width: 400px;'></div>
</div>
</div>




<div class="row">
<h2 id="supporting-organizations">Supporting Organizations</h2>
<p>QuTiP is currently supported by these organizations:<p>
<div class="col-md-5">
<a href="http://dml.riken.jp"><img src="images/riken-logo.png" style='max-height:100px'></a>
</div>
</div>
<br>
<div class="row">
<div class="col-md-4">
<a href="https://www.aber.ac.uk/en/about-us/faculties/business-physical-sciences/"><img src="images/aber_uni.png"></a>
</div>
<div class="col-md-4">
<a href="https://www.usherbrooke.ca/iq/en/"><img src="images/inst_quant_sher.png"></a>
</div>
</div>
<br>
<div class="row">
<p>QuTiP is proud to be affiliated to:<p>
<div class="col-md-5">
<a href="https://numfocus.org/"><img src="images/numfocus.png"></a>
</div>
<div class="col-md-5">
<a href="https://unitary.fund/"><img src="images/unitaryfund.png"></a>
</div>
</div>
<br>
<div class="row">
<p>The development of QuTiP was partially supported by the following organizations:<p>
<div class="col-md-3">
<a href="http://physics.korea.ac.kr/"><img src="images/korea-logo.png"></a>
</div>
<div class="col-md-3">
<a href="http://www.jsps.go.jp/english/"><img src="images/jsps.jpg"></a>
</div>
</div>

</div> <!-- col-md-9 main content div -->

{% include sidebar.html %}

</div> <!-- main row div -->

{% include footer.html %}
