---
title: QuTiP - Quantum Toolbox in Python
layout: homepage
---

{% include hero.html %}


<div class="row">
    <div class="col-md-12">
        <div class="banner">
            <p>
                Are you using QuTiP in your personal projects or research? We'd love to hear from you!
                <br />
                <a href="https://forms.gle/mXAzrKYFBFJMm4fC9" target="_blank">Take our 2026 User Survey now!</a> (~5 minutes).
            </p>
        </div>
    </div>
</div>


<div class="row my-3">
    <div class="d-flex flex-column flex-md-row justify-content-md-around align-items-stretch text-image-split">
        <!-- Latest News -->
        <div class="col-md-5 mx-auto col-12 text">
            <h2 class="mt-0">
                News
            </h2>
            <ul class="list-group list-group-flush">
                {% for post in site.posts limit:4 %}
                    <li class="list-group-item element-list-item">
                        <a href="{{ post.url }}" class="lecture-link">
                            <p>
                                {{ post.title }}
                                </br>
                                <span style="color: var(--bs-gray)">{{ post.date | date: "%B, %Y" }}</span>
                            </p>
                            <p class="angle">&#8250;</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <a class="my-3 btn-show-more" style="text-align: center; margin: 0 auto;" href="/news">Show More</a>
        </div>

        <!-- Latest Releases -->
        <div class="col-md-5 mx-auto col-12 text">
            <h2 class="mt-0">
                Latest Releases
            </h2>
            <ul class="list-group list-group-flush">
                {% for release in site.data.release_info %}
                <li class="mb-2 list-group-item element-list-item release-item">
                    <strong>{{ release.version }}</strong>
                    <br />
                    <span>{{ release.date }}</span>
                    <br />
                    <div class="links">
                        <a href="{{ release.install }}">install</a> &bull;
                        <a href="{{ release.docs }}">docs</a> &bull;
                        <a href="{{ release.src }}">src</a> &bull;
                        <a href="{{ release.changelog }}">changelog</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <a class="mx-auto mb-3 btn-show-more" style="text-align: center; margin-top: auto;" href="/documentation">All Versions</a>
        </div>
    </div>
</div>


<div class="container-fluid my-lg-3 px-0 my-center-section my-bg-secondary">
    <div class="container-xxl px-0 pb-4">
        <h2>
            The QuTiP Family
        </h2>
        <p class="px-3">
            QuTiP is more than just a Python package. Check out all the related projects!
        </p>
        <div class="slick-carousel packages-carousel carousel">
            {% assign packages = site.data.qutip_packages | where: "visible", true %}
            {% for p in packages %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ p.name }}</h5>
                        <p class="card-text">{{ p.details }}</p>
                        <a href="{{ p.link }}" class="card-link">See more</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn-show-more" href="https://github.com/qutip/">Explore All</a>
    </div>
</div>


<div class="row">
    <div class="container-xxl mb-lg-3">
        <h2 class="my-center-section">
            World Wide Community
        </h2>
        <div class="row justify-content-md-center py-3 text-image-split">
            <div class="mx-auto p-3 text">
                <h5>
                    From Education to Industry
                </h5>
                <p>
                    QuTiP is used to advance research in quantum optics, quantum
                    information, quantum open systems, opto&shy;mechanics, and
                    many related fields. QuTiP is in use at nearly all research
                    universities around the globe, government-funded research
                    labs, and is relied upon by most major corporation
                    developing a quantum computer.
                </p>
                <h5>
                    Open-Source Community
                </h5>
                <p>
                    QuTiP is used around the globe, and has been downloaded over
                    a million times since its initial release. Need help in
                    simulating a tricky problem? Our large community of users
                    are happy to help in tackling even the most esoteric of
                    issues.
                </p>
                <div>
                    <a href="/research" class="mx-0 my-2 btn btn-primary">
                        For Researchers
                    </a>
                    <a href="/education" class="mx-0 mx-md-2 btn btn-outline-primary">
                        For Educators
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-s-12 m-auto media" style="width: 100%;">
                <div id="map_container" style="position: relative; height: 300px;"></div>
            </div>
        </div>
    </div>
</div>


{% include supp_org.html %}
{% include sponsor.html %}