---
title: Quantum Toolbox in Python
---
{% include header.html %}
{% include navbar.html %}

<div class="row">

<div class="col-md-9">

<div class="row">
<div class="col-md-12">
<h1>QuTiP : Quantum Toolbox in Python</h1><br>
</div>
</div>

<!-- <div class="row">
<div class="col-md-12">
<div class="alert alert-info">
Experienced in QuTiP and open quantum systems?  See the new <a href='/jobs.html'>job postings</a> for open positions.
</div>
</div>
</div> -->

<div class="row">
<div class="col-md-12">
<p>
QuTiP is open-source software for simulating the dynamics of open quantum systems.  The QuTiP library depends on the excellent <a href='http://www.numpy.org'>Numpy</a>, <a href='http://www.scipy.org'>Scipy</a>, and <a href='http://cython.org'>Cython</a> numerical packages. In addition, graphical output is provided by <a href='http://matplotlib.org'>Matplotlib</a>.  QuTiP aims to provide user-friendly and efficient numerical simulations of a wide variety of Hamiltonians, including those with arbitrary time-dependence, commonly found in a wide range of physics applications such as quantum optics, trapped ions, superconducting circuits, and quantum nanomechanical resonators. QuTiP is freely available for use and/or modification on all major platforms such as Linux, Mac OSX, and Windows<sup>*</sup>. Being free of any licensing fees, QuTiP is ideal for exploring quantum mechanics and dynamics in the classroom.
</p>
<p style='font-size:10px'><sup>*</sup>QuTiP is developed on Unix platforms only, and some features may not be available under Windows.</p>
</div>
</div>

<div class="row">
<div class="col-md-4">
<p style='margin-top:20px'>
QuTiP is already being used at a variety of institutions around the globe, and has been downloaded several thousand times since its initial release.  Need
help in simulating a tricky problem? Ask our growing list of users in the QuTiP help group for assistance. 
</p>
</div>
<div class="col-md-6">
<center><h4>Distribution of the 25,473 Unique Visitors in 2016</h2><center>
<div id='container1' style='margin-top:10px; position: relative;height: 250px;width: 400px;'></div>
</div>
</div>

<br>
<div class="row">
<h2>Supporting Organizations</h2>
<p>QuTiP is developed under the auspices of:<p>
<div class="col-md-5">
<a href="http://www.qustar.org"><img src="images/QuSTaR.png"></a>
</div>
</div>
<br>
<div class="row">
<p>The development of QuTiP was partially supported by the following organizations:<p>
<div class="col-md-3">
<a href="http://nqdl.korea.ac.kr"><img src="images/korea-logo.png"></a>
</div>
<div class="col-md-3">
<a href="http://dml.riken.jp"><img src="images/riken-logo.png" style='max-height:100px'></a>
</div>
<div class="col-md-3">
<a href="http://www.jsps.go.jp/english/"><img src="images/jsps.jpg"></a>
</div>
<div class="col-md-3">
<a href="https://www.aber.ac.uk/en/impacs/"><img src="images/aber_uni.png"></a>
</div>
</div>

</div> <!-- col-md-9 main content div -->

{% include sidebar.html %}

</div> <!-- main row div -->

{% include footer.html %}
