---
title: QuTiP News
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1 style="margin-bottom:20px">Job Announcements</h1>
<h4>This is a collection of job listings of interest to individuals looking for work in the simulation of quantum dynamics.</h4>
</div>
</div>
<br>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-12">
    <h4><a href='http://quantumcomputingreport.com/jobs/'> Quantum Computing Report</a></h4>
<hr>


</div>

{% include footer.html %}
