---
title: QuTiP Jobs
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1 style="margin-bottom:20px">Job Announcements</h1>

<h4>Technical Staff for QuTiP</h4>


<p><strong>About this job</strong></p>
<p>This is a job post for a [one]-year job opportunity to work on maintaining and improving QuTiP (the Quantum Toolbox in Python). Compensation is competitive with academic community standards and will depend on the candidate experience (PhD graduate or not, etc.). The candidate can work remotely for 2022, and will be employed by RIKEN, within the Theoretical Quantum Physics Laboratory, RIKEN Cluster for Pioneering Research, based on Wako campus, Japan (Laboratory head: Franco Nori, Chief Scientist). RIKEN is Japan&rsquo;s basic science research institute. Wako is located in the Tokyo suburban area. You will coordinate with the QuTiP admin developers, under the supervision of Prof. Franco Nori.</p>
<p><strong>Responsibilities</strong></p>
<p>Coordinate with the QuTiP admin developers, under the supervision of Prof. Franco Nori, to maintain and improve QuTiP&rsquo;s features and functionalities, such as the ones already prioritized at <a href="https://github.com/qutip/qutip/wiki/Google-Summer-of-Code-2021">https://github.com/qutip/qutip/wiki/Google-Summer-of-Code-2021</a>.</p>
<p><strong>Skills &amp; Qualifications</strong></p>
<p>We will expect you have 2+ years of paid or voluntary experience with:</p>
<ul>
<li> Software skills in Python, git, the Python numerical and scientific stack</li>
<li> Interest in the physics of open quantum systems, quantum optics, or quantum computing</li>
<li> Excellent communication skills</li>
<li> Familiarity with QuTiP as a user and some previous code contribution to one of QuTiP&rsquo;s repository (qutip code, notebooks, documentation)</li>
</ul>
<p><strong>Additional bonus points</strong></p>
<p>We will be delighted if you also have any of the following skills or experience:</p>
<ul>
<li> Research experience in quantum physics</li>
<li> Code development experience working on a large collaborative open-source project</li>
<li> Track record of involvement or support of the QuTiP community (Github code contributions, Q&amp;As on QuTiP&rsquo;s forum, etc.)</li>
<li> Experience with developing and testing numerically efficient code such as: Cython, multithreading with OpenMP, PyPy.</li>
</ul>
<p><strong>Contact</strong></p>
<p>Applicants should contact fnori@riken.jp directly with a CV and cover letter. Related job opportunities (postdoc only) can be found at: <a href="https://www.riken.jp/en/careers/researchers/20200914_2/index.html">https://www.riken.jp/en/careers/researchers/20200914_2/index.html</a> for a postdoc working on coherent Ising machines, and neural networks and machine learning applied to quantum physics. Candidates with prior experience in these topics will have priority.</p>



This job post can also be found on <a href='https://www.quantiki.org/position/technical-staff-qutip'>Quantiki</a>.




<h4>This is a collection of job listings of interest to individuals looking for work in the simulation of quantum dynamics.</h4>
</div>
</div>
<br>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-12">
    <h4><a href='https://quantumcomputingreport.com/jobs/'> Quantum Computing Report</a></h4>
<hr>


</div>

{% include footer.html %}
