---
title: QuTiP News
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1 style="margin-bottom:20px">Job Announcements</h1>
<h4>This is a collection of Job postings that are looking for individuals experienced in the simulation of open quantum systems, and/or QuTiP itself.  If you have an announcement that you would like to be posted here then drop us a line at <a href='mailto:info@qustar.org?Subject=Job%20posting'>info[at]qustar.org</a>.</h4>
</div>
</div>
<br>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-12">
    <h4><a href='https://www.ziprecruiter.com/jobs/quantum-circuits-inc-c59d9129/software-engineer-96ca26e1'>Software Engineer</a></h4>
    <p><b>Posted</b>: Jan. 26, 2018</p>
    <p><b>Group</b>: Quantum Circuits Inc., New Haven CT, USA</p>
    <p><b>Special Requirements</b>: None</p>
<hr>


</div>

{% include footer.html %}
