---
title: QuTiP News
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1 style="margin-bottom:20px">QuTiP News</h1>
</div>
</div>
<br>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-7">
    <h4 style='margin-bottom: -10px'>September 23, 2017</h4>
    <h3>Interview with the QuTiP Developers - PODCAST.__INIT__</h3></div>
<div class="col-md-5" style='margin-top: 30px'>
    <script class="podigee-podcast-player" src="//cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="https://www.podcastinit.com/?podigee_player=374"></script>
</div>
</div>
<hr>


<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>June 13, 2017</h4>
    <h3>QuTiP Reaches 300 Journal Paper Benchmark</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="http://qutip.org/users.html#200"><h4>qutip.org</h4></a></div>
</div>
<hr>


<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <h4 style='margin-bottom: -10px'>March 27, 2017</h4>
        <h3>QuTiP Used to Simulate Perfect Quantum State Transfer Over Noisy Transmission Lines</h3>
    </div>
    <div class="col-md-4" style='margin-top: 30px'>
        <a href="http://physics.aps.org/articles/v10/32"><h4>APS Physics</h4></a>
        <a href="https://doi.org/10.1103/PhysRevLett.118.133601"><h4>Phys. Rev. Lett. 118, 133601 (2017).</h4></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>March 13, 2017</h4>
    <h3>Quantum Algorithm Programmed with QuTiP Classifies 9,500 Handwritten Numbers</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="https://www.ibm.com/blogs/research/2017/03/quantum-algorithm-classifies-9500-handwritten-numbers/ "><h4>IBM Research</h4></a></div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>March 9, 2017</h4>
    <h3>QuTiP Mentioned in The Economist Technology Quarterly on Quantum Technologies</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="http://www.economist.com/technology-quarterly/2017-03-09/quantum-devices"><h4>The Economist</h4></a></div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>March 7, 2017</h4>
    <h3>QuTiP Now an Essential Qualification to Work at US National Labs</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="news/llnl_advert.pdf"><h4>LLNL</h4></a></div>
</div>
<hr>


<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>December 1, 2016</h4>
    <h3>QuTiP Highlighted in UK Quantum Technology Program's "Commercial Prospects for Quantum Computing"</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="news/Commercial_Prospects_for_Quantum_Computing_Dec_2016.pdf"><h4>PDF</h4></a></div>
</div>
<hr>


<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>August 2, 2016</h4>
    <h3>QuTiP Reaches 200 Journal Paper Benchmark</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="http://qutip.org/users.html#200"><h4>qutip.org</h4></a></div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>May 3, 2015</h4>
    <h3>QuTiP Reaches 100 Journal Paper Benchmark</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="http://qutip.org/users.html#100"><h4>qutip.org</h4></a></div>
</div>
<hr>


<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>February 4, 2015</h4>
    <h3>QuTiP Highlighted in Nature's `Programming: Pick up Python'</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="http://dx.doi.org/10.1038/518125a"><h4>Nature</h4></a></div>
</div>
<hr>

{% include footer.html %}
