---
title: QuTiP News
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1 style="margin-bottom:20px">QuTiP News</h1>
</div>
</div>
<br>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>March 15, 2021</p>
        <h4>QuTiP applies to Google Summer of Code 2021 under the NumFOCUS organization.
</h4>
    </div>
<div class="col-md-4" style='margin-top: 25px'>
        <a href="https://github.com/numfocus/gsoc#qutip"><p>NumFOCUS GSoC 2021</p></a>
        <a href="https://github.com/qutip/qutip/wiki/Google-Summer-of-Code-2021"><p>QuTiP Proposal Ideas</p></a>
        <a href="https://summerofcode.withgoogle.com/how-it-works/#timeline"><p>Application Period : March 29- April 13, 2021</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>June 22, 2020</p>
        <h4>2020 Google Summer of Code Project Updates
</h4>
    </div>
<div class="col-md-4" style='margin-top: 25px'>
        <a href="https://www.binhbar.com/tags/gsoc/"><p>Jake's Blog posts</p></a>
        <a href="https://sarsid.wordpress.com/tag/gsoc2020/"><p>Sidhant's Blog posts</p></a>
        <a href="https://araza6.github.io/tags/gsoc/"><p>Asad's Blog posts</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>April 6, 2020</p>
        <h4>Unitary Fund supports QuTiP development through remote mentorships.
</h4>
    </div>
<div class="col-md-4" style='margin-top: 25px'>
        <a href="https://unitary.fund#project-ideas"><p>Website</p></a>
        <a href="https://unitary.fund/posts/Q1_2020.html"><p> Blog post</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>March 16, 2020</p>
        <h4>Student applications open for Google Summer of Code 2020.
</h4>
    </div>
<div class="col-md-4" style='margin-top: 25px'>
        <a href="https://github.com/qutip/qutip/wiki/Google-Summer-of-Code-2020"><p>Project Ideas</p></a>

    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>December 12, 2019</p>
        <h4>Krotov is a new quantum optimal control library built on top of QuTiP.
</h4>
    </div>
<div class="col-md-4" style='margin-top: 25px'>
        <a href="https://github.com/qucontrol/krotov"><p>Github repository</p></a>
        <a href="https://scipost.org/SciPostPhys.7.6.080"><p> SciPost paper</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>November 31, 2019</p>
        <h4>QuTiP is listed as an available project in Kharagpur Winter of Code for Indian Institute of Technology students</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://kwoc.kossiitkgp.org/"><p>KWoC 2019</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>September 11, 2019</p>
        <h4>QuTiP features for quantum information science are presented in a talk at IQIS 2019 in Milan, Italy</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://iqis2019.fisica.unimi.it/"><p>IQIS 2019</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>September 3-4, 2019</p>
        <h4>QuTiP joins the European open-source community of scientist using Python at EuroScipy 2019 in Bilbao, Spain</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://pretalx.com/euroscipy-2019/talk/J3HEDH/"><p>Tutorial: Quantum measurement</p></a>
        <a href="https://pretalx.com/euroscipy-2019/talk/JJCQQJ/"><p> Seminar: QuTiP as an ecosystem for quantum physics exploration</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>July 23, 2019</p>
        <h4>Two students working on QuTiP projects for Google Summer of Code</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://gsoc2019-boxili.blogspot.com"><p>Boxi's Blog on noise in QIP</p></a>
        <a href="https://latticemodelfunctions.blogspot.com"><p>Saumya's Blog on lattice models</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>July 3, 2019</p>
        <h4>QuTiP 4.4.0 is released. Available with conda and pip.</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="http://qutip.org/docs/latest/changelog.html"><p>Changelog</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>June 25, 2019</p>
        <h4>An interactive course on QuTiP and open source for physicists is taught at ICTP Trieste, Italy</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://github.com/nathanshammah/interactive-notebooks"><p>Slides and MyBinder Notebooks</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>March 19, 2019</p>
        <h4>QuTiP Poster Presented at the Coherent Network Computing Conference in Atsugi, Japan</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://github.com/nathanshammah/research/blob/master/QuTiP_2019-poster.pdf"><p>Poster</p></a>
        <a href="https://www.jst.go.jp/impact/hp_yamamoto/cnc2019/index.html"><p>CNC Website</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>March 1, 2019</p>
        <h4>QuTiP Participates to Google Summer of Code 2019 trough NumFOCUS</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://summerofcode.withgoogle.com/organizations/?sp-page=4#5447807656263680"><p>NumFOCUS at GSoC 2019</p></a>
        <a href="https://github.com/qutip/qutip/wiki//Google-Summer-of-Code-2019"><p>GSoC 2019 QuTiP's Project Proposals</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>February 21, 2019</p>
        <h4>First QuTiP Developers Workshop Held at RIKEN on February 19-21, 2019</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="http://www.riken.jp/en"><p>RIKEN</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>Feruary 2, 2019</p>
        <h4>QuTiP is Presented at FOSDEM 2019 in Bruxelles, Belgium</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://www.youtube.com/watch?v=aAlkNuYFi-8"><p>"Make Your Code Count" Talk on Youtube</p></a>
        <a href="https://qosf.org/fosdem/"><p>Open Source Quantum Software at FOSDEM 19</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>January 26, 2019</p>
        <h4>QuTiP is Presented in an Invited Talk at the RIKEN Berkeley Workshop on Quantum Information Science</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="http://rb19.lbl.gov"><p>rb19.lbl.gov</p></a>
        <a href="https://conferences.lbl.gov/event/195/other-view?view=standard"><p>Talk Slides</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>January 9, 2019</p>
        <h4>QuTiP is Featured on Nature's Physics Blog</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="http://blogs.nature.com/onyourwavelength/2019/01/09/the-rise-of-open-source-in-quantum-physics-research/"><p>The Rise of Open-Source in Quantum Physics Research</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>November 19, 2018</p>
        <h4>QuTiP Featured in a Talk at PyData 2018 in Warsaw, Poland</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://pydata.org/warsaw2018/schedule/presentation/22/"><p>Bit to QuBit: Data in the Age of Quantum Computers, PyData 2018</p></a>
        <a href="https://www.youtube.com/watch?v=6GAXJhL1mSs"><p>YouTube Video</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>August 31, 2018</p>
        <h4>QuTiP is Presented at a European Meeting of Researchers Using Python, Trento, Italy </h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://www.euroscipy.org/2018/program.html"><p>EuroSciPy 2018</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>June 3, 2018</p>
        <h4>QuTiP Featured at the ImPACT School on Interdisciplinary Quantum Physics and Computer Science, Toyama, Japan</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="http://www.jst.go.jp/impact/hp_yamamoto/symposium/school1/index.html"><p>Make your code count: Quantum simulations with QuTiP</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>April 26, 2018</p>
        <h4>QuTiP Joins NumFOCUS as Affiliated Project</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="https://numfocus.org/sponsored-projects/affiliated-projects"><p>NumFOCUS Affiliated Projects</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>October 12, 2017</p>
        <h4>QuTiP Used in Back-to-back Articles in this Week's Science Magazine</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="http://dx.doi.org/10.1126/science.aao1511"><p>Science <b>358</b>, 199 (2017).</p></a>
        <a href="http://dx.doi.org/10.1126/science.aan7939"><p>Science <b>358</b>, 203 (2017).</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-7">
    <p style='margin-bottom: -10px'>September 23, 2017</p>
    <h4>Interview with the QuTiP Developers - PODCAST.__INIT__</h4></div>
<div class="col-md-5" style='margin-top: 25px'>
    <script class="podigee-podcast-player" src="//cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js" data-configuration="https://www.podcastinit.com/?podigee_player=374"></script>
</div>
</div>
<hr>


<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <p style='margin-bottom: -10px'>June 13, 2017</p>
    <h4>QuTiP Reaches 300 Journal Paper Benchmark</h4></div>
<div class="col-md-4" style='margin-top: 25px'><a href="http://qutip.org/users.html#200"><p>qutip.org</p></a></div>
</div>
<hr>


<div class="row" style='margin-bottom: 15px'>
    <div class="col-md-8">
        <p style='margin-bottom: -10px'>March 27, 2017</p>
        <h4>QuTiP Used to Simulate Perfect Quantum State Transfer Over Noisy Transmission Lines</h4>
    </div>
    <div class="col-md-4" style='margin-top: 25px'>
        <a href="http://physics.aps.org/articles/v10/32"><p>APS Physics</p></a>
        <a href="https://doi.org/10.1103/PhysRevLett.118.133601"><p>Phys. Rev. Lett. 118, 133601 (2017).</p></a>
    </div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <p style='margin-bottom: -10px'>March 13, 2017</p>
    <h4>Quantum Algorithm Programmed with QuTiP Classifies 9,500 Handwritten Numbers</h4></div>
<div class="col-md-4" style='margin-top: 25px'><a href="https://www.ibm.com/blogs/research/2017/03/quantum-algorithm-classifies-9500-handwritten-numbers/ "><p>IBM Research</p></a></div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <p style='margin-bottom: -10px'>March 9, 2017</p>
    <h4>QuTiP Mentioned in The Economist Technology Quarterly on Quantum Technologies</h4></div>
<div class="col-md-4" style='margin-top: 25px'><a href="http://www.economist.com/technology-quarterly/2017-03-09/quantum-devices"><p>The Economist</p></a></div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <p style='margin-bottom: -10px'>March 7, 2017</p>
    <h4>QuTiP Now an Essential Qualification to Work at US National Labs</h4></div>
<div class="col-md-4" style='margin-top: 25px'><a href="news/llnl_advert.pdf"><p>LLNL</p></a></div>
</div>
<hr>


<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <p style='margin-bottom: -10px'>December 1, 2016</p>
    <h4>QuTiP Highlighted in UK Quantum Technology Program's "Commercial Prospects for Quantum Computing"</h4></div>
<div class="col-md-4" style='margin-top: 25px'><a href="news/Commercial_Prospects_for_Quantum_Computing_Dec_2016.pdf"><p>PDF</p></a></div>
</div>
<hr>


<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <p style='margin-bottom: -10px'>August 2, 2016</p>
    <h4>QuTiP Reaches 200 Journal Paper Benchmark</h4></div>
<div class="col-md-4" style='margin-top: 25px'><a href="http://qutip.org/users.html#200"><p>qutip.org</p></a></div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <p style='margin-bottom: -10px'>May 3, 2015</p>
    <h4>QuTiP Reaches 100 Journal Paper Benchmark</h4></div>
<div class="col-md-4" style='margin-top: 25px'><a href="http://qutip.org/users.html#100"><p>qutip.org</p></a></div>
</div>
<hr>


<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <p style='margin-bottom: -10px'>February 4, 2015</p>
    <h4>QuTiP Highlighted in Nature's `Programming: Pick up Python'</h4></div>
<div class="col-md-4" style='margin-top: 25px'><a href="http://dx.doi.org/10.1038/518125a"><p>Nature</p></a></div>
</div>
<hr>

{% include footer.html %}
