---
title: QuTiP Users
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h1 style="margin-bottom:20px">QuTiP News</h1>
</div>
</div>
<br>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>March 13, 2017</h4>
    <h3>Quantum Algorithm Programmed with QuTiP Classifies 9,500 Handwritten Numbers</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="https://www.ibm.com/blogs/research/2017/03/quantum-algorithm-classifies-9500-handwritten-numbers/ "><h4>IBM Research</h4></a></div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>March 9, 2017</h4>
    <h3>QuTiP Mentioned in The Economist Technology Quarterly on Quantum Technologies</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="http://www.economist.com/technology-quarterly/2017-03-09/quantum-devices"><h4>The Economist</h4></a></div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>March 7, 2017</h4>
    <h3>QuTiP now an Essential Qualification to Work at US National Labs</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="news/llnl_advert.pdf"><h4>LLNL</h4></a></div>
</div>
<hr>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">
    <h4 style='margin-bottom: -10px'>February 4, 2015</h4>
    <h3>QuTiP Highlighted in Nature's `Programming: Pick up Python'</h3></div>
<div class="col-md-4" style='margin-top: 30px'><a href="http://dx.doi.org/10.1038/518125a"><h4>Nature</h4></a></div>
</div>
<hr>

{% include footer.html %}
