---
title: QuTiP Users
---
{% include header.html %}
{% include navbar.html %}

<div class="row">
<div class="col-md-12">
<h2 style="margin-bottom:20px">Papers Using QuTiP</h2>
</div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">63. <b>Hu</b>, "Quantum Coherence in Ultrastrong Optomechanics", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1410.2863">arXiv:1410.2863</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">62. <b>Weimer</b>, "Variational principle for steady states of dissipative quantum many-body systems", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1409.8307">arXiv:1409.8307</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">61. <b>Ardelt</b> et al., "Dissipative preparation of the exciton and biexciton in a self-assembled quantum dot on picosecond timescales", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1409.6014">arXiv:1409.6014</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">60. <b>Dast</b> et al., "A quantum master equation with balanced gain and loss", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1409.6189">arXiv:1409.6189</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">59. <b>de Moraes Neto</b> et al., "Steady entanglements in bosonic dissipative networks", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1409.6783">arXiv:1409.6783</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">58. <b>Lagoudakis</b> et al., "Demonstration of weak optical pumping of a spin qubit in a site-controlled nanowire quantum dot", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1409.4728">arXiv:1409.4728</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">57. <b>Feist</b> et al., "Extraordinary exciton conductance induced by strong coupling", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1409.2514">arXiv:1409.2514</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">56. <b>Molony</b> et al., "Creation of ultracold <sup>87</sup>RbCs molecules in the rovibrational ground state", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1409.1485">arXiv:1409.1485</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">55. <b>Lecocq</b> et al., "Resolving vacuum fluctuations of micromechanical motion using a phonon counter", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1409.0872">arXiv:1409.0872</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">54. <b>Bassereh</b> et al., "Effect of Noise on the Efficiency of Quantum Excitation Energy Transfer in a Toy Model of a Linear Protein Structure", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1408.6256">arXiv:1408.6256</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">53. <b>M&uuml;ller</b> et al., "On-chip generation of indistinguishable photons using cavity quantum-electrodynamics", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1408.5942">arXiv:1408.5942</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">52. <b>Reimann</b> et al., "Cavity-Modified Super- and Subradiant Rayleigh Scattering of Two Atoms", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1408.5874">arXiv:1408.5874</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">51. <b>Ostermann</b> et al., "Protected subspace Ramsey metrology", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1407.8420">arXiv:1407.8420</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">50. <b>Mari</b> et al., "Quantum optomechanical piston engines powered by heat", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1407.8364">arXiv:1407.8364</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">49. <b>Lin</b> et al., "Josephson parametric phase-locked oscillator and its application to dispersive readout of superconducting qubits", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1038/ncomms5480">Nat. Commun. <b>5</b>, 4480 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">48. <b>Lagoudakis</b> et al., "Hole Spin Pumping and Re-pumping in a p-type &delta;-doped InAs Quantum Dot", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevB.90.121402">Phys. Rev. B <b>90</b>, 121402(R) (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">47. <b>Figueiredo Roque</b> et al., "Dissipation-driven squeezed and sub-Poissonian mechanical states in quadratic optomechanical systems", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/arXiv:1406.1987">arXiv:1406.1987</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">46. <b>Hardal</b>, "Dynamics of mode entanglement in a system of cavities coupled with a chiral mirror", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1364/JOSAB.31.002339">J. Opt. Soc. Am. B <b>31</b>, 2339 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">45. <b>Craddock</b> et al., "The Feasibility of Coherent Energy Transfer in Microtubules", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1098/rsif.2014.0677">J. R. Soc. Interface <b>11</b>, 1742 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">44. <b>Seilmeier</b> et al., "Optical Thermometry of an Electron Reservoir Coupled to a Single Quantum Dot in the Millikelvin Range", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevApplied.2.024002">Phys. Rev. Applied <b>2</b>, 024002 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">43. <b>Pfaff</b> et al., "Unconditional quantum teleportation between distant solid-state quantum bits", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1126/science.1253512 ">Science <b>345</b>, 532 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">42. <b>Granade</b> et al., "Accelerated Randomized Benchmarking", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/1404.5275">arXiv:1404.5275</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">41. <b>Karakaya</b> et al., "Controlled excitations of surface plasmons via optical soliton photons in the quantum regime", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1088/0031-8949/2014/T160/014020">Phys. Scr. <b>T160</b>, 014020 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">40. <b>Hardal</b> et al., "Einstein–Podolsky–Rosen-type quantum entanglement between coupled cavities", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1088/0031-8949/2014/T160/014016">Phys. Scr. <b>T160</b>, 014016 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">39. <b>Kyriienko</b> et al., "Tunable single photon emission from dipolaritons", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevA.90.033807">Phys. Rev. A <b>90</b>, 033807 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">38. <b>Prado</b> et al., "Steady Fock states via atomic reservoir", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1209/0295-5075/107/13001">Eur. Phys. Lett. <b>107</b>, 13001 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">37. <b>Gessner</b> et al., "Observing a quantum phase transition by measuring a single spin", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1209/0295-5075/107/40005">Euro. Phys. Lett. <b>107</b>, 40005 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">36. <b>Migdal</b> et al., "Multiphoton states related via linear optics", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevA.89.062329 ">Phys. Rev. A <b>89</b>, 062329 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">35. <b>Haikka</b> et al., "Dissipative Landau-Zener level crossing subject to continuous measurement: Excitation despite decay", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevA.89.052114 ">Phys. Rev. A <b>89</b>, 052114 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">34. <b>Peuntinger</b> et al., "Distribution of Squeezed States through an Atmospheric Channel", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevLett.113.060502">Phys. Rev. Lett. <b>113</b>, 060502 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">33. <b>Johansson</b> et al., "Entangled-state generation and Bell inequality violations in nanomechanical resonators", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/1402.4900">arXiv:1402.4900</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">32. <b>Xu</b> et al., "Nonadiabatic Dynamics of a Dissipative Two-level System", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevA.89.052102 ">Phys. Rev. A <b>89</b>, 052102 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">31. <b>Nigg</b>, "Deterministic Hadamard gate for microwave "cat-state" qubits in cQED", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevA.89.022340">Phys. Rev. A <b>89</b>, 022340 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">30. <b>Gessner</b> et al., "Nonlinear spectroscopy of controllable many-body quantum systems", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1088/1367-2630/16/9/092001">New J. Phys. <b>16</b>, 092001 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">29. <b>Chen</b> et al., "Realization of a single-Cooper-pair Josephson laser", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevB.90.020506">Phys. Rev. B <b>90</b>, 020506 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">28. <b>Dajka</b>, "Disentanglement of Qubits in Classical Limit of Interaction", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1007/s10773-013-1876-9">Int. J. Theor. Phys., (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">27. <b>L&ouml;rch</b> et al., "Laser Theory for Optomechanics: Limit Cycles in the Quantum Regime", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevX.4.011015">Phys. Rev. X <b>4</b>, 011015 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">26. <b>Wan</b> et al., "Precision spectroscopy by photon-recoil signal amplification", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1038/ncomms4096">Nat. Commun. <b>5</b>, 3096 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">25. <b>Puzzuoli</b> et al., "Tractable Simulation of Quantum Error Correction with Honest Approximations to Realistic Fault Models", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevA.89.022306">Phys. Rev. A <b>89</b>, 022306 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">24. <b>Liao</b> et al., "Photon blockade in quadratically coupled optomechanical systems", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevA.88.023853">Phys. Rev. A <b>88</b>, 023853 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">23. <b>Nation</b>, "Nonclassical mechanical states in an optomechanical micromaser analog", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevA.88.053828">Phys. Rev. A <b>88</b>, 053828 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">22. <b>Settnes</b> et al., "Auger Processes Mediating the Nonresonant Optical Emission from a Semiconductor Quantum Dot Embedded Inside an Optical Cavity", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevLett.111.067403">Phys. Rev. Lett. <b>111</b>, 067403 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">21. <b>Genway</b> et al., "Generalized Dicke Nonequilibrium Dynamics in Trapped Ions", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevLett.112.023603">Phys. Rev. Lett. <b>112</b>, 023603 (2014).</a></a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">20. <b>Daniilidis</b> et al., "Quantum Interfaces Between Atomic and Solid-State Systems", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1146/annurev-conmatphys-030212-184253">Ann. Rev. Cond. Matt. Phys. <b>4</b>, 83-112 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">19. <b>Ostermann</b> et al., "Protected State Enhanced Quantum Metrology with Interacting Two-Level Ensembles", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevLett.111.123601">Phys. Rev. Lett. <b>111</b>, 123601 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">18. <b>Armour</b> et al., "Universal Quantum Fluctuations of a Cavity Mode Driven by a Josephson Junction", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevLett.111.247001">Phys. Rev. Lett. <b>111</b>, 247001 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">17. <b>Krovalev</b> et al., "Spin Transfer of Quantum Information between Majorana Modes and a Resonator", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevLett.112.106402">Phys. Rev. Lett. <b>112</b>, 106402 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">16. <b>Grimsmo</b> et al., "Dissipative Dicke model with non-linear atom-photon interaction", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1088/0953-4075/46/22/224012">J. Phys. B: At. Mol. Opt. Phys. <b>46</b>, 224012 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">15. <b>Johansson</b> et al., "Nonclassical microwave radiation from the dynamical Casimir effect", </div>
<div class="col-md-4"><a href="http://pra.aps.org/abstract/PRA/v87/i4/e043804">Phys. Rev. A <b>87</b>, 043804 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">14. <b>Majumdar</b> et al., "Coupling an electron spin in a semiconductor quantum dot to an optical nano-cavity", </div>
<div class="col-md-4"><a href="http://link.aps.org/doi/10.1103/PhysRevLett.111.027402">Phys. Rev. Lett. <b>111</b>, 027402 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">13. <b>Hardal</b> et al., "Spin squeezing, entanglement and coherence in two driven, dissipative, nonlinear cavities coupled with single and two-photon exchange", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1364/JOSAB.31.001402">J. Opt. Soc. Am. B <b>31</b>, 1402 (2014).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">12. <b>Reiter</b> et al., "Steady-state entanglement of two superconducting qubits engineered by dissipation", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevA.88.032317">Phys. Rev. A <b>88</b>, 032317 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">11. <b>Moelbjerg</b> et al., "Dynamical Properties of Nanolasers Based on Few Discrete Emitters", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1109/JQE.2013.2282464">Quantum Electronics, IEEE Journal of, <b>44</b> 945 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">10. <b>Xu</b> et al., "Quantum Photovoltaic Effect in Double Quantum Dots", </div>
<div class="col-md-4"><a href="http://link.aps.org/doi/10.1103/PhysRevB.87.035429">Phys. Rev. B <b>87</b>, 035429 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">9. <b>Li</b> et al., "Floquet poor man's Majorana fermions in double quantum dots", </div>
<div class="col-md-4"><a href="http://arxiv.org/abs/1301.3623">arXiv:1301.3623</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">8. <b>Hardal</b> et al., "Discrete time quantum walk with nitrogen-vacancy centers in diamond coupled to a superconducting flux qubit", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevA.88.022303">Phys. Rev. A <b>88</b>, 022303 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">7. <b>Grimsmo</b> et al., "Cavity QED simulation of qubit-oscillator dynamics in the ultrastrong coupling regime", </div>
<div class="col-md-4"><a href="http://link.aps.org/doi/10.1103/PhysRevA.87.033814">Phys. Rev. A <b>87</b>, 033814 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">6. <b>Tipsmark</b> et al., "Displacement-enhanced entanglement distillation of single-mode-squeezed entangled states", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1364/OE.21.006670">Opt. Express <b>21</b>, 6670 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">5. <b>Nigg</b> et al., "Stabilizer quantum error correction toolbox for superconducting qubits", </div>
<div class="col-md-4"><a href="http://dx.doi.org/10.1103/PhysRevLett.110.243604">Phys. Rev. Lett. <b>110</b>, 243604 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">4. <b>Holloway</b> et al., "Optimal pair generation rate for Entanglement-based QKD", </div>
<div class="col-md-4"><a href="http://link.aps.org/doi/10.1103/PhysRevA.87.022342">Phys. Rev. A <b>87</b>, 022342 (2013).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">3. <b>Murch</b> et al., "Cavity-assisted quantum bath engineering", </div>
<div class="col-md-4"><a href="http://link.aps.org/doi/10.1103/PhysRevLett.109.183602">Phys. Rev. Lett. <b>109</b> 183602 (2012).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">2. <b>Tezak</b> et al., "Specification of photonic circuits using Quantum Hardware Description Language", </div>
<div class="col-md-4"><a href="http://rsta.royalsocietypublishing.org/content/370/1979/5270">Phil. Trans. R. Soc. A <b>370</b> 5270 (2012).</a></div>
</div>

<div class="row" style='margin-bottom: 15px'>
<div class="col-md-8">1. <b>Dereli</b> et al., "Two-Frequency Jahn-Teller Systems in Circuit QED", </div>
<div class="col-md-4"><a href="http://link.aps.org/doi/10.1103/PhysRevA.85.053841">Phys. Rev. A <b>85</b> 053841 (2012).</a></div>
</div>  


<div class="row">
<div class="col-md-12">
<h2 style="margin-bottom:20px">Topics of Papers Citing QuTiP</h2>
</div>
</div>

<div class="row">
<div class="col-md-12">
<a href="http://nbviewer.ipython.org/urls/raw.github.com/qutip/qutip-notebooks/master/misc/qutip-citation-pacs.ipynb">
<img src="images/qutip_citation_pacs.png" alt="PACS codes for papers citing qutip" />
</a>
</div>
</div>

{% include footer.html %}
