<div class="container-xxl">
    <div class="row footer">
        <ul class="col-lg-2 col-md-4 col-6 footer-list">
            <li><p>QuTiP</p></li>
            <li><a href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v5/python-introduction/004_link_to_lecture_0.ipynb">
                Get Started
            </a></li>
            <li><a href="/research">For Researchers</a></li>
            <li><a href="/education">For Educators</a></li>
            <li><a href="https://qutip.org/qutip-virtual-lab/">QuTiP Virtual Lab</a></li>
        </ul>
        <ul class="col-lg-2 col-md-4 col-6 footer-list">
            <li><p>Documentation</p></li>
            <li><a href="https://qutip.readthedocs.io/en/latest/installation.html#quick-start">Installation</a></li>
            <li><a href="https://qutip.readthedocs.io/en/latest/">QuTiP v5 (Latest Release)</a></li>
            <li><a href="https://qutip.readthedocs.io/en/v4.7.5/">QuTiP v4.7.5</a></li>
            <li><a href="https://qutip.readthedocs.io/en/latest/changelog.html">Changelog</a></li>
            <li><a href="/benchmarks">Benchmarks</a></li>
            <li><a href="/citing">Citing</a></li>
        </ul>
        <ul class="col-lg-2 col-md-4 col-6 footer-list">
            <li><p>Community</p></li>
            <li><a href="https://github.com/qutip">GitHub</a></li>
            <li><a href="https://groups.google.com/g/qutip">Google Groups</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="/devs">About</a></li>
        </ul>
        <p class="col-lg-6 col-md-12">
            &copy; 2011 to 2025 inclusive, QuTiP developers and contributors.
        </p>
    </div>
</div>