<div class="footer">
<p>&copy; 2013 and later. <a href="https://researcher.watson.ibm.com/researcher/view.php?person=ibm-Paul.Nation">P.D. Nation</a> &amp; <a href="https://jrjohansson.github.io/research.html">J.R. Johansson</a>.  This page was created with <a href="https://twitter.github.io/bootstrap/">bootstrap</a>.</p>
</div>

</div> <!-- container -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src='https://d3js.org/d3.v3.min.js'></script>
<script src='https://d3js.org/topojson.v1.min.js'></script>
<script src='js/datamaps.world.min.js'></script>
<script src='js/map.js'></script>
</body>
</html>
