<div class="footer">
<p>&copy; 2013 and later. <a href="https://nqdl.korea.ac.kr">P.D. Nation</a> &amp; <a href="https://jrjohansson.github.io/research.html">J.R. Johansson</a>.  This page was created with <a href="https://twitter.github.io/bootstrap/">bootstrap</a>.</p>
</div>

</div> <!-- container -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src='https://d3js.org/d3.v3.min.js'></script>
<script src='https://d3js.org/topojson.v1.min.js'></script>
<script src='js/datamaps.world.min.js'></script>
<script src='js/map.js'></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16824831-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
