<div class="container-xxl mb-5">
    <div class="row align-items-center">
        <div class="col-md-6 py-md-3">
            <img src="images/logo.png" class="mx-auto"/>
        </div>
        <div class="col-md-6 text-center text-md-start">
            <h1>
                QuTiP
            </h1>
            <h3>
                Quantum Toolbox in Python
            </h3>
            <div>
                <a href="/tutorials" class="mx-auto mx-md-0">
                    <span class="badge primary my-1">
                        Get Started with QuTiP v5
                    </span>
                </a>
                <a href="/try-qutip" class="mx-auto mx-md-0">
                    <span class="badge secondary">
                        Try QuTiP from your Browser!
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>