<div class="container-xxl mb-5">
    <div class="row align-items-center">
        <div class="col-md-6 py-md-3">
            <img src="images/logo.png" class="me-md-5 mx-auto" style="max-height: 200px; max-width: 80%;"/>
        </div>
        <div class="col-md-6 text-center text-md-start">
            <h1>
                QuTiP
            </h1>
            <h3>
                Quantum Toolbox in Python
            </h3>
            <div class="d-grid justify-content-center gap-2 justify-content-md-start d-lg-inline-block">
                <a href="/tutorials" class="btn btn-primary">
                        Get Started with QuTiP v5
                </a>
                <a href="/try-qutip" class="btn btn-outline-primary">
                        Try QuTiP from your Browser!
                </a>
            </div>
        </div>
    </div>
</div>