<!-- Static navbar -->
<div class="navbar navbar-default">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="index.html">QuTiP</a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="features.html">Features</a></li>
    <li><a href="download.html">Download</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="documentation.html">Users Guide</a></li>
        <li><a href="tutorials.html">Tutorials</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Publications<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="citing.html">Citing QuTiP</a></li>
        <li><a href="users.html">Papers Using QuTiP</a></li>
      </ul>
    </li>
    <li><a href="http://groups.google.com/group/qutip">Help Group</a></li>
    <li><a href="http://qutip.blogspot.com">Blog</a></li>
    <li><a href="http://www.github.com/qutip">Github</a></li>
  </ul>
</div>
</div>

