<div class="container-xxl">
    <nav class="navbar navbar-expand-md sticky-top side-padding">
        <div class="navbar-brand m-0">
        {% unless include.hideIcon %}
        <a href="/" style="margin: 0">
            <img src="/images/logo_small.png" alt="QuTiP" width="64" height="32">
        </a>
        {% endunless %}
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_markup" aria-controls="navbar_markup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_markup">
            <ul class="navbar-nav ms-auto align-items-md-baseline align-items-center">
                <li class="nav-item dropdown-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Get Started
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v5/python-introduction/004_link_to_lecture_0.ipynb">Introduction</a></li>
                        <li><a class="dropdown-item" href="/try-qutip.html">Try QuTiP!</a></li>
                        <li><a class="dropdown-item" href="https://qutip.org/qutip-virtual-lab/">QuTiP Virtual Lab</a></li>
                        <li><a class="dropdown-item" href="/features">Features</a></li>
                        <li class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Other QuTiP Packages</h6></li>
                        <li><a class="dropdown-item" href="https://qutip-qip.readthedocs.io/en/stable/">Quantum Information Processing</a></li>
                        <li><a class="dropdown-item" href="https://github.com/qutip/qutip-qoc/">Quantum Optimal Control</a></li>
                        <li><a class="dropdown-item" href="https://qutip.org/QuantumToolbox.jl/stable/">Quantum Toolbox in Julia</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tutorials
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/qutip-tutorials">All Tutorials</a></li>
                        <li class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">By Category</h6></li>
                        <li><a class="dropdown-item" href="/qutip-tutorials/#visualizations">Visualizations</a></li>
                        <li><a class="dropdown-item" href="/qutip-tutorials/#time-evolution">Time Evolutions</a></li>
                        <li><a class="dropdown-item" href="/qutip-tutorials/#quantum-information-processing">Quantum Information Processing</a></li>
                        <li><a class="dropdown-item" href="/qutip-tutorials/#optimal-control">Optimal Control</a></li>
                        <li><a class="dropdown-item" href="/qutip-tutorials/#tomography">Tomography</a></li>
                        <li><a class="dropdown-item" href="/qutip-tutorials/#piqs">Permutational Invariant Lindblad Dynamics</a></li>
                        <li><a class="dropdown-item" href="/qutip-tutorials/#heom">Hierachical Equations of Motion</a></li>
                        <li><a class="dropdown-item" href="/qutip-tutorials/#lectures">Lecture Series</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="https://qutip.org/qutip-julia-tutorials/">Quantum Toolbox in Julia</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://qutip.readthedocs.io/en/stable/">User Guide</a></li>
                        <li><a class="dropdown-item" href="https://qutip.readthedocs.io/en/stable/apidoc/apidoc.html">API</a></li>
                        <li><a class="dropdown-item" href="https://github.com/qutip/qutip/wiki">Wiki</a></li>
                        <li><a class="dropdown-item" href="/qutip-benchmark">Benchmarks</a></li>
                        <li><a class="dropdown-item" href="https://qutip.readthedocs.io/en/latest/changelog.html">Changelog</a></li>
                        <li class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Previous Versions</h6></li>
                        <li><a class="dropdown-item" href="https://qutip.readthedocs.io/en/v4.7.x/">QuTiP 4.7.x</a></li>
                        <li><a class="dropdown-item" href="https://colab.research.google.com/drive/18TcuHNQifYSHdGey7otK8IPDB1YbDZpW?usp=sharing">Migrate to QuTiP v5</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Community
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://github.com/qutip">GitHub</a></li>
                        <li><a class="dropdown-item" href="/education">For Educators</a></li>
                        <li><a class="dropdown-item" href="/research">For Researchers</a></li>
                        <li><a class="dropdown-item" href="https://groups.google.com/g/qutip">Google Groups</a></li>
                        <li><a class="dropdown-item" href="/jobs">Jobs</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu" style="margin-bottom: 1rem;">
                        <li><a class="dropdown-item" href="/news">News</a></li>
                        <li><a class="dropdown-item" href="/devs">Devs</a></li>
                        <li><a class="dropdown-item" href="/citing">Citing</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="https://github.com/qutip">
                        See on GitHub
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>