<div class="container-xxl">
    <nav class="navbar navbar-expand-md sticky-top side-padding">
        <a class="navbar-brand" href="/" style="margin: 0">
            <img src="images/logo_small.png" alt="QuTiP" width="64" height="32">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_markup" aria-controls="navbar_markup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_markup">
            <ul class="navbar-nav ms-auto align-items-md-baseline align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="https://nbviewer.org/urls/qutip.org/qutip-tutorials/tutorials-v5/python-introduction/004_link_to_lecture_0.ipynb">
                        Get Started
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorials">
                        Tutorials
                    </a>
                </li>
                <li class="nav-item dropdown-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://qutip.readthedocs.io/en/latest/">User Guide</a></li>
                        <li><a class="dropdown-item" href="/features">Features</a></li>
                        <li><a class="dropdown-item" href="https://qutip.org/qutip-virtual-lab/">QuTiP Virtual Lab</a></li>
                        <li><a class="dropdown-item" href="/try-qutip.html">Try QuTiP!</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="https://qutip.readthedocs.io/en/v4.7.5/">QuTiP 4.7.5</a></li>
                        <li><a class="dropdown-item" href="https://qutip.readthedocs.io/en/latest/changelog.html">Changelog</a></li>
                        <li><a class="dropdown-item" href="/benchmarks">Benchmarks</a></li>
                        <li><a class="dropdown-item" href="/citing">Citing</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown-center">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Community
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://github.com/qutip">Git Hub</a></li>
                        <li><a class="dropdown-item" href="/education">Educators</a></li>
                        <li><a class="dropdown-item" href="/research">Researchers</a></li>
                        <li><a class="dropdown-item" href="https://groups.google.com/g/qutip">Google Groups</a></li>
                        <li><a class="dropdown-item" href="/jobs">Jobs</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/devs">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/qutip">
                        <span class="badge primary">See on GitHub</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>