<nav class="navbar navbar-expand-md sticky-top">
    <a class="navbar-brand" href="/">
        <img src="images/logo_small.png" alt="QuTiP" width="64" height="32">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_markup" aria-controls="navbar_markup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_markup">
        <ul class="navbar-nav ms-auto align-items-md-baseline align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="/">Install</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">User Guide</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Resources
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="">API</a></li>
                    <li><a class="dropdown-item" href="">Changelog</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="">Tutorials</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Community
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="">API</a></li>
                    <li><a class="dropdown-item" href="">Changelog</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span class="badge">See on GitHub</span>
                </a>
            </li>
        </ul>
    </div>
</nav>