<div class="row footer">
    <ul class="col-lg-2 col-md-4 col-6 footer-list">
        <li><a href="">User Guide</a></li>
        <li><a href="">Get Started</a></li>
        <li><a href="">For Researchers</a></li>
        <li><a href="">For Educators</a></li>
    </ul>
    <ul class="col-lg-2 col-md-4 col-6 footer-list">
        <li><a href="">Documentation</a></li>
        <li><a href="">Latest Release</a></li>
        <li><a href="">QuTiP v4.7.5</a></li>
        <li><a href="">Benchmarks</a></li>
        <li><a href="">Citing</a></li>
    </ul>
    <ul class="col-lg-2 col-md-4 col-6 footer-list">
        <li><a href="">Community</a></li>
        <li><a href="">Git Hub</a></li>
        <li><a href="">QuTiP Virtual Lab</a></li>
        <li><a href="">Google Groups</a></li>
    </ul>
    <p class="col-lg-6 col-md-12">
        &copy; 2011 to 2025 inclusive, QuTiP developers and contributors.
    </p>
</div>