<div class="container my-center-section">
    <h2>Supporting Organisations</h2>
    <p>
        Developers from <a href="https://dml.riken.jp/" target="about:blank">Nori's Lab</a>,
        <a href="https://www.physique.usherbrooke.ca/blais/" target="about:blank">Blais' Lab</a> and
        <a href="https://qfort.ncku.edu.tw/" target="about:blank">Yueh-Nan Chen's group</a>
        have been actively contributing to QuTiP.
    </p>
    <div class="d-flex flex-column flex-md-row align-items-center align-items-md-top justify-content-evenly flex-wrap organizations">
        <a href="https://dml.riken.jp" target="about:blank"><img src="images/riken-logo.png"></a>
        <a href="https://www.usherbrooke.ca/iq/en/" target="about:blank"><img src="images/inst_quant_sher.png"></a>
        <a href="https://qfort.ncku.edu.tw/" target="about:blank"><img src="images/qfort.png"></a>
        <a href="https://www.ncku.edu.tw/" target="about:blank"><img src="images/ncku.png"></a>
    </div>
    <p>
        QuTiP is proud to be working with these organizations:
    </p>
    <div class="d-flex flex-column flex-md-row align-items-center align-items-md-top justify-content-evenly flex-wrap organizations">
        <a href="https://www.jst.go.jp/moonshot/en/index.html" target="about:blank"><img src="images/moonshot-program-jst.png"></a>
        <a href="https://numfocus.org/" target="about:blank"><img src="images/numfocus.png"></a>
        <a href="https://unitary.fund/" target="about:blank"><img src="images/unitaryfund.png"></a>
        <a href="https://www.aber.ac.uk/en/about-us/faculties/business-physical-sciences/" target="about:blank"><img src="images/aber_uni.png"></a>
        <a href="https://physics.korea.ac.kr/" target="about:blank"><img src="images/korea-logo.png"></a>
        <a href="https://www.jsps.go.jp/english/" target="about:blank"><img src="images/jsps.jpg"></a>
        <a href="https://www.jst.go.jp/kisoken/presto/en/" target="about:blank"><img src="images/presto.jpg"></a>
    </div>

    <br>
    <div class="row">
        <p>
            We also thank Google for their support through the Google Summer of Code program. <br>
            <a href="https://github.com/qutip/qutip/wiki">Look at our past projects.</a>
        </p>
    </div>
</div>