<div class="col-md-3">

<div class="card" style="margin-bottom: 15px;">
  <div class="card-header">Latest releases</div>
  <div class="card-body">
         <strong>QuTiP 5.2.1</strong>:
         <ul>
           <li>June 6, 2025</li>
           <li><a href="https://qutip.readthedocs.io/en/qutip-5.2.x/installation.html">install</a></li>
           <li><a href="https://qutip.readthedocs.io/en/qutip-5.2.x/">docs</a></li>
           <li><a href="https://github.com/qutip/qutip/releases/tag/v5.2.1">src</a></li>
           <li><a href="https://qutip.readthedocs.io/en/qutip-5.2.x/changelog.html">changelog</a></li>
         </ul>
         <strong>QuTiP 4.7.6</strong>:
         <ul>
           <li>April 5, 2024</li>
           <li><a href="https://qutip.readthedocs.io/en/qutip-4.7.x/installation.html">install</a></li>
           <li><a href="https://qutip.readthedocs.io/en/qutip-4.7.x/">docs</a></li>
           <li><a href="https://github.com/qutip/qutip/releases/tag/v4.7.6">src</a></li>
           <li><a href="https://qutip.readthedocs.io/en/qutip-4.7.x/changelog.html">changelog</a></li>
         </ul>
  </div>
</div>

<div class="card" style="margin-bottom: 15px;">
  <div class="card-header">About QuTiP</div>
  <div class="card-body">
    <a href="https://www.github.com/qutip/qutip">GitHub</a> <br/>
    <a href="https://qutip.readthedocs.io/en/latest/">Documentation</a> <br/>
    <a href="https://www.github.com/qutip/qutip/issues">Issue tracker</a> <br/>
    <a href="https://groups.google.com/group/qutip">Mailing list</a> <br/>
    <a href="https://github.com/qutip/qutip/wiki">Wiki</a> <br/>
    <a href="https://github.com/qutip/qutip/blob/master/LICENSE.txt">License</a> <br/>
    <a href="/cofc.html">Code of conduct</a> <br/>
  </div>
</div>

<div class="card" style="margin-bottom: 15px;">
  <div class="card-header">Related projects</div>
  <div class="card-body">
    <a href="https://www.scipy.org">SciPy</a> <br/>
    <a href="https://www.numpy.org">NumPy</a> <br/>
    <a href="https://www.cython.org">Cython</a> <br/>
    <a href="https://www.matplotlib.org">Matplotlib</a> <br/>
    <a href="https://ipython.org">IPython</a> <br/>
    <a href="https://sympy.org">SymPy</a> <br/>
  </div>
</div>

<div class="card" style="margin-bottom: 15px;">
  <div class="card-header">Affiliated to</div>
  <div class="card-body">
    <a href="https://numfocus.org/"><img src="/images/numfocus.png"></a>
  </div>
</div>

</div>
