<div class="row">
<div class="col-md-3">

<div class="panel panel-default">
  <div class="panel-heading">Latest release</div>
  <div class="panel-body">
    <div><p>April 11, 2021<br />
        4.6.0 -
        <a href="https://qutip.org/docs/latest/installation.html#platform-independent-installation">conda and pip (recommended)</a></div>
        <a onclick="javascript:_gaq.push(['_trackEvent','download','qutip','qutip-4.6.0.tar.gz']); void(0);" href="https://github.com/qutip/qutip/archive/v4.6.0.tar.gz">tar.gz</a>,
        <a onclick="javascript:_gaq.push(['_trackEvent','download','qutip','qutip-4.6.0.zip']); void(0);" href="https://github.com/qutip/qutip/archive/v4.6.0.zip">zip</a>,
        <a href="docs/latest/index.html">docs</a>
        (<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip-doc','qutip-doc-4.6.pdf']); void(0);" href="downloads/4.6.0/qutip-doc-4.6.pdf">pdf</a>)
    </p>
    <p>Development version<br />
        4.7.0.dev -
        <a href="https://github.com/qutip/qutip/archive/master.zip">download</a>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">About QuTiP</div>
  <div class="panel-body">
    <a href="docs/latest/installation.html">Installation</a> <br/>
    <a href="https://www.github.com/qutip/qutip/issues">Issue tracker</a> <br/>
    <a href="docs/latest/changelog.html">Changelog</a> <br/>
    <a href="https://groups.google.com/group/qutip">Mailing list</a> <br/>
    <a href="https://github.com/qutip/qutip/blob/master/LICENSE.txt">License</a> <br/>
    <a href="cofc.html">Code of conduct</a> <br/>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Development</div>
  <div class="panel-body">
    <p>
        <a href="https://www.github.com/qutip/qutip">source</a> /
        <a href="https://www.github.com/qutip/qutip-doc">docs</a> /
        <a href="https://github.com/qutip/qutip/wiki">wiki</a>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Related projects</div>
  <div class="panel-body">
    <a href="https://www.scipy.org">SciPy</a> <br/>
    <a href="https://www.numpy.org">NumPy</a> <br/>
    <a href="https://www.cython.org">Cython</a> <br/>
    <a href="https://www.matplotlib.org">Matplotlib</a> <br/>
    <a href="https://ipython.org">IPython</a> <br/>
    <a href="https://sympy.org">SymPy</a> <br/>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Affiliated to</div>
  <div class="panel-body">
    <a href="https://numfocus.org/"><img src="images/numfocus.png"></a>
  </div>
</div>

</div>
</div>
