<div class="row">
<div class="col-md-3">

<div class="panel panel-default">
  <div class="panel-heading">Latest release</div>
  <div class="panel-body">
    <p>Aug 5, 2014 <br /> 
        3.0.1 - 
        <a onclick="javascript:_gaq.push(['_trackEvent','download','qutip','qutip-3.0.1.tar.gz']); void(0);" href="downloads/3.0.1/qutip-3.0.1.tar.gz">download</a>, 
        <a href="docs/3.0.1/index.html">docs</a>
        (<a onclick="javascript:_gaq.push(['_trackEvent','download','qutip-doc','qutip-doc-3.0.1.pdf']); void(0);" href="downloads/3.0.1/qutip-doc-3.0.1.pdf">pdf</a>)
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">About QuTiP</div>
  <div class="panel-body">
    <a href="docs/3.0.1/installation.html">Installation</a> <br/>
    <a href="http://www.github.com/qutip/qutip/issues">Issue tracker</a> <br/>
    <a href="docs/3.0.1/changelog.html">Changelog</a> <br/>
    <a href="http://groups.google.com/group/qutip">Mailing list</a> <br/>
    <a href="https://github.com/qutip/qutip/blob/master/LICENSE.txt">Licence</a> <br/>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Development</div>
  <div class="panel-body">
    <p>
        <a href="http://www.github.com/qutip/qutip">source</a> /
        <a href="http://www.github.com/qutip/qutip-doc">docs</a> /
        <a href="http://github.com/qutip/qutip/wiki">wiki</a>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Related projects</div>
  <div class="panel-body">
    <a href="http://www.scipy.org">SciPy</a> <br/>
    <a href="http://www.numpy.org">NumPy</a> <br/>
    <a href="http://www.cython.org">Cython</a> <br/>
    <a href="http://www.matplotlib.org">Matplotlib</a> <br/>
    <a href="http://ipython.org">IPython</a> <br/>
    <a href="http://sympy.org">SymPy</a> <br/>
  </div>
</div>

</div>
</div>
